<form class="row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="col-md-4">
    <label for="nome" class="form-label">Nome do curso</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Nome do curso"
      formControlName='nome'
      [ngClass]="{'is-invalid': submitted && hasError('nome')}"
    />
    <div class="invalid-feedback" *ngIf="hasError('nome')">Informe um nome para o curso.</div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
